/* @media */
$desktop-width: 600px;

$primary-font: "Verdana", "Arial", sans-serif;
$secondary-font: "DIN 2014" "Arial", sans-serif;



$body-background-color: #2f2f2f;

$main-background-color: #c2002e;
$alert-background-color: #a60229;

$offer-background-color: #76bc34;

$footer-background-color: #393e42;



$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;

/* retina */
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;
